.register-page {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__card {
    width: 400px;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__arrow-left {
      margin-right: 0.4rem;
    }
  }
  button {
    :link {
      text-decoration-line: none;
    }
  }
  .button {
    background: rgb(217, 214, 219);
    height: 40px;
    width: 200px;
  }
  .title {
    color: rgb(243, 232, 232);
    font-size: 22px;
  }
}
